<p>Светофор: <span id="light">{{ data.light_state }}</span></p>
<p>Машины: <span id="vehicles">{{ data.vehicles }}</span></p>
<p>Пешеход: <span id="pedestrian">{{ data.pedestrian }}</span></p>

<script>
async function refreshData(){
    const res = await fetch('/api/state');
    const data = await res.json();
    document.getElementById('light').innerText = data.light_state;
    document.getElementById('vehicles').innerText = data.vehicles;
    document.getElementById('pedestrian').innerText = data.pedestrian;
}
setInterval(refreshData, 500);
</script>
