version: 1
formatters:
  simple:
    format: '{"ts":"%(asctime)s","name":"%(name)s","level":"%(levelname)s","msg":%(message)s}'
handlers:
  console:
    class: logging.StreamHandler
    level: INFO
    formatter: simple
root:
  level: INFO
  handlers: [console]
